body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f4f6fb;
}

.navbar {
    background: #1a1f36;
    color: white;
    padding: 20px;
    text-align: center;
}

.container {
    width: 1100px;
    margin: auto;
    margin-top: 40px;
}

.dashboard {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}

.card {
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.balance {
    grid-column: span 2;
    text-align: center;
    background: #4c6ef5;
    color: white;
}

.balance h1 {
    font-size: 48px;
    margin-top: 10px;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 6px;
    border: 1px solid #ddd;
}

button {
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    border: none;
    background: #4c6ef5;
    color: white;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: #3b5bdb;
}

.transactions {
    margin-top: 40px;
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    padding: 12px;
    border-bottom: 1px solid #eee;
    text-align: left;
}